parameters:
	ignoreErrors:
		-
			message: '#^Cannot access property \$LinePadding on Lkrms\\PrettyPHP\\Token\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: src/Rule/HeredocIndentation.php

		-
			message: '#^Cannot access property \$LineUnpadding on Lkrms\\PrettyPHP\\Token\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: src/Rule/HeredocIndentation.php

		-
			message: '#^Cannot call method renderIndent\(\) on Lkrms\\PrettyPHP\\Token\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: src/Rule/HeredocIndentation.php

		-
			message: '#^Cannot access property \$id on Lkrms\\PrettyPHP\\Token\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: src/Rule/PreserveNewlines.php
