parameters:
	ignoreErrors:
		-
			message: "#^Method Lkrms\\\\Pretty\\\\Php\\\\Token\\:\\:jsonSerialize\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Php/Token.php

		-
			message: "#^Method Lkrms\\\\Pretty\\\\Tests\\\\Php\\\\FormatterTest\\:\\:testFormatter\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Php/FormatterTest.php

		-
			message: "#^Method Lkrms\\\\Pretty\\\\Tests\\\\Php\\\\FormatterTest\\:\\:testRenderComment\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Php/FormatterTest.php

		-
			message: "#^Method Lkrms\\\\Pretty\\\\Tests\\\\Php\\\\Rule\\\\AlignChainedCallsTest\\:\\:testAfterTokenLoop\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Php/Rule/AlignChainedCallsTest.php
