includes:
  - tests/phpstan-conditional.php
  - phpstan-baseline.neon

parameters:
  level: 9
  paths:
    - bin/pretty-php
    - scripts
    - src
    - tests/integration
    - tests/unit
    - tests/phpstan-conditional.php
    - bootstrap.php
  excludePaths:
    analyseAndScan:
      - tests/integration/Bootstrap/invalid-single-character-tokens.php
      - tests/integration/Bootstrap/invalid-tokens.php
      - tests/integration/Bootstrap/tokens-with-same-id.php
