includes:
  - phpstan-baseline.neon

parameters:
  level: 6
  paths:
    - bin
    - src
    - tests
  bootstrapFiles:
    - tests/bootstrap.php
  ignoreErrors:
    - "#^Method Lkrms\\\\Pretty\\\\Tests\\\\.+ has no return type specified\\.$#"
