includes:
  - phpstan-baseline.neon
  - tests/phpstan-conditional.php

parameters:
  level: 9
  paths:
    - bin/pretty-php
    - bootstrap.php
    - src
    - tests/unit
    - tests/phpstan-conditional.php
    - scripts
  bootstrapFiles:
