parameters:
	ignoreErrors:
		-
			message: "#^Cannot access offset 'appearance' on mixed\\.$#"
			count: 3
			path: scripts/list-rules.php

		-
			message: "#^Cannot access offset 'is_default' on mixed\\.$#"
			count: 1
			path: scripts/list-rules.php

		-
			message: "#^Cannot access offset 'is_mandatory' on mixed\\.$#"
			count: 1
			path: scripts/list-rules.php

		-
			message: "#^Cannot access offset 'method' on mixed\\.$#"
			count: 1
			path: scripts/list-rules.php

		-
			message: "#^Cannot access offset 'pass' on mixed\\.$#"
			count: 1
			path: scripts/list-rules.php

		-
			message: "#^Cannot access offset 'priority' on mixed\\.$#"
			count: 1
			path: scripts/list-rules.php

		-
			message: "#^Cannot access offset 'rule' on mixed\\.$#"
			count: 2
			path: scripts/list-rules.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: scripts/list-rules.php

		-
			message: "#^Parameter \\#1 \\$class of static method Salient\\\\Utility\\\\Get\\:\\:basename\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: scripts/list-rules.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$values of function printf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 1
			path: scripts/list-rules.php

		-
			message: "#^Method Lkrms\\\\PrettyPHP\\\\Filter\\\\CollectColumn\\:\\:filterTokens\\(\\) should return array\\<int, T of Lkrms\\\\PrettyPHP\\\\Token\\\\GenericToken\\> but returns array\\<Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\>\\.$#"
			count: 1
			path: src/Filter/CollectColumn.php

		-
			message: "#^Cannot access property \\$id on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|\\(T of Lkrms\\\\PrettyPHP\\\\Token\\\\GenericToken\\)\\|null\\.$#"
			count: 3
			path: src/Filter/EvaluateStrings.php

		-
			message: "#^Cannot access property \\$text on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|\\(T of Lkrms\\\\PrettyPHP\\\\Token\\\\GenericToken\\)\\|null\\.$#"
			count: 1
			path: src/Filter/EvaluateStrings.php

		-
			message: "#^Parameter \\#2 \\$subject of static method Salient\\\\Utility\\\\Regex\\:\\:match\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: src/Filter/RemoveHeredocIndentation.php

		-
			message: "#^Cannot access property \\$ClosedBy on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|false\\|null\\.$#"
			count: 4
			path: src/Parser.php

		-
			message: "#^Cannot access property \\$ClosedBy on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Parser.php

		-
			message: "#^Cannot access property \\$Flags on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Parser.php

		-
			message: "#^Cannot access property \\$Heredoc on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Parser.php

		-
			message: "#^Cannot access property \\$Next on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Parser.php

		-
			message: "#^Cannot access property \\$NextCode on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|false\\.$#"
			count: 2
			path: src/Parser.php

		-
			message: "#^Cannot access property \\$NextCode on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|false\\|null\\.$#"
			count: 2
			path: src/Parser.php

		-
			message: "#^Cannot access property \\$NextSibling on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|false\\.$#"
			count: 1
			path: src/Parser.php

		-
			message: "#^Cannot access property \\$NextSibling on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Parser.php

		-
			message: "#^Cannot access property \\$OpenedBy on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|false\\|null\\.$#"
			count: 2
			path: src/Parser.php

		-
			message: "#^Cannot access property \\$OpenedBy on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Parser.php

		-
			message: "#^Cannot access property \\$Parent on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Parser.php

		-
			message: "#^Cannot access property \\$Prev on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 4
			path: src/Parser.php

		-
			message: "#^Cannot access property \\$PrevCode on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|false\\|null\\.$#"
			count: 2
			path: src/Parser.php

		-
			message: "#^Cannot access property \\$Statement on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|false\\.$#"
			count: 1
			path: src/Parser.php

		-
			message: "#^Cannot access property \\$id on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 13
			path: src/Parser.php

		-
			message: "#^Cannot call method isColonAltSyntaxDelimiter\\(\\) on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Parser.php

		-
			message: "#^Property Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\:\\:\\$EndExpression \\(Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\) does not accept Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|false\\|null\\.$#"
			count: 2
			path: src/Parser.php

		-
			message: "#^Property Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\:\\:\\$EndStatement \\(Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\) does not accept Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|false\\|null\\.$#"
			count: 1
			path: src/Parser.php

		-
			message: "#^Parameter \\#1 \\$to of method Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\:\\:collect\\(\\) expects Lkrms\\\\PrettyPHP\\\\Token\\\\Token, Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null given\\.$#"
			count: 1
			path: src/Rule/AlignChains.php

		-
			message: "#^Parameter \\#2 \\$first of method Lkrms\\\\PrettyPHP\\\\Formatter\\:\\:registerCallback\\(\\) expects Lkrms\\\\PrettyPHP\\\\Token\\\\Token, Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null given\\.$#"
			count: 1
			path: src/Rule/AlignChains.php

		-
			message: "#^Parameter \\#2 \\$first of method Lkrms\\\\PrettyPHP\\\\Rule\\\\AlignChains\\:\\:alignChain\\(\\) expects Lkrms\\\\PrettyPHP\\\\Token\\\\Token, Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null given\\.$#"
			count: 1
			path: src/Rule/AlignChains.php

		-
			message: "#^Parameter \\#1 \\$to of method Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\:\\:collect\\(\\) expects Lkrms\\\\PrettyPHP\\\\Token\\\\Token, Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null given\\.$#"
			count: 1
			path: src/Rule/AlignComments.php

		-
			message: "#^Parameter \\#2 \\$start of function mb_substr expects int, int\\<0, max\\>\\|false given\\.$#"
			count: 1
			path: src/Rule/AlignComments.php

		-
			message: "#^Binary operation \"\\-\" between ''\\|int and ''\\|int\\|null results in an error\\.$#"
			count: 1
			path: src/Rule/AlignData.php

		-
			message: "#^Binary operation \"\\-\" between ''\\|int and 1 results in an error\\.$#"
			count: 2
			path: src/Rule/AlignData.php

		-
			message: "#^Cannot access property \\$Padding on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 2
			path: src/Rule/AlignData.php

		-
			message: "#^Cannot access property \\$id on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/AlignData.php

		-
			message: "#^Cannot access property \\$text on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/AlignData.php

		-
			message: "#^Cannot call method collectSiblings\\(\\) on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/AlignData.php

		-
			message: "#^Cannot call method pragmaticEndOfExpression\\(\\) on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 3
			path: src/Rule/AlignData.php

		-
			message: "#^Parameter \\#1 \\$value of function count expects array\\|Countable, array\\|null given\\.$#"
			count: 1
			path: src/Rule/AlignData.php

		-
			message: "#^Cannot call method collect\\(\\) on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/AlignLists.php

		-
			message: "#^Cannot call method pragmaticEndOfExpression\\(\\) on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/AlignLists.php

		-
			message: "#^Parameter \\#2 \\$first of method Lkrms\\\\PrettyPHP\\\\Formatter\\:\\:registerCallback\\(\\) expects Lkrms\\\\PrettyPHP\\\\Token\\\\Token, Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null given\\.$#"
			count: 1
			path: src/Rule/AlignLists.php

		-
			message: "#^Parameter \\#3 \\$first of method Lkrms\\\\PrettyPHP\\\\Rule\\\\AlignLists\\:\\:alignList\\(\\) expects Lkrms\\\\PrettyPHP\\\\Token\\\\Token, Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null given\\.$#"
			count: 1
			path: src/Rule/AlignLists.php

		-
			message: "#^Cannot call method hasNewlineBefore\\(\\) on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/AlignTernaryOperators.php

		-
			message: "#^Cannot call method pragmaticStartOfExpression\\(\\) on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/AlignTernaryOperators.php

		-
			message: "#^Cannot access property \\$Index on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/ControlStructureSpacing.php

		-
			message: "#^Cannot access property \\$WhitespaceMaskNext on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 2
			path: src/Rule/ControlStructureSpacing.php

		-
			message: "#^Cannot access property \\$LinePadding on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/HeredocIndentation.php

		-
			message: "#^Cannot access property \\$LineUnpadding on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/HeredocIndentation.php

		-
			message: "#^Cannot call method renderIndent\\(\\) on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 2
			path: src/Rule/HeredocIndentation.php

		-
			message: "#^Cannot access property \\$Prev on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/ListSpacing.php

		-
			message: "#^Cannot access property \\$WhitespaceAfter on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/ListSpacing.php

		-
			message: "#^Cannot access property \\$WhitespaceBefore on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/ListSpacing.php

		-
			message: "#^Cannot access property \\$WhitespaceMaskNext on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 2
			path: src/Rule/ListSpacing.php

		-
			message: "#^Cannot access property \\$WhitespaceMaskPrev on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/ListSpacing.php

		-
			message: "#^Cannot access property \\$id on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/ListSpacing.php

		-
			message: "#^Cannot call method hasNewlineAfter\\(\\) on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/ListSpacing.php

		-
			message: "#^Cannot access property \\$IsCode on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/OperatorSpacing.php

		-
			message: "#^Cannot access property \\$NextCode on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/OperatorSpacing.php

		-
			message: "#^Cannot access property \\$PrevCode on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 2
			path: src/Rule/OperatorSpacing.php

		-
			message: "#^Cannot access property \\$WhitespaceAfter on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/OperatorSpacing.php

		-
			message: "#^Cannot access property \\$WhitespaceBefore on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/OperatorSpacing.php

		-
			message: "#^Cannot access property \\$id on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 3
			path: src/Rule/OperatorSpacing.php

		-
			message: "#^Cannot access property \\$id on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 2
			path: src/Rule/PlaceBraces.php

		-
			message: "#^Cannot access property \\$IsCode on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 2
			path: src/Rule/PlaceComments.php

		-
			message: "#^Cannot access property \\$OpenTag on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 2
			path: src/Rule/PlaceComments.php

		-
			message: "#^Cannot access property \\$WhitespaceMaskNext on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/PlaceComments.php

		-
			message: "#^Cannot call method collect\\(\\) on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/PlaceComments.php

		-
			message: "#^Cannot access property \\$id on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/PreserveNewlines.php

		-
			message: "#^Cannot access property \\$WhitespaceBefore on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/Preset/Drupal.php

		-
			message: "#^Cannot access property \\$WhitespaceMaskPrev on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/Preset/Drupal.php

		-
			message: "#^Cannot access property \\$id on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 2
			path: src/Rule/Preset/Drupal.php

		-
			message: "#^Cannot access property \\$Next on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/Preset/WordPress.php

		-
			message: "#^Cannot access property \\$Prev on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/Preset/WordPress.php

		-
			message: "#^Cannot access property \\$WhitespaceBefore on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/Preset/WordPress.php

		-
			message: "#^Cannot access property \\$WhitespaceMaskNext on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/Preset/WordPress.php

		-
			message: "#^Cannot access property \\$WhitespaceMaskPrev on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 2
			path: src/Rule/Preset/WordPress.php

		-
			message: "#^Cannot access property \\$id on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 2
			path: src/Rule/Preset/WordPress.php

		-
			message: "#^Cannot access property \\$line on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/Preset/WordPress.php

		-
			message: "#^Cannot access property \\$text on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/Preset/WordPress.php

		-
			message: "#^Cannot call method collect\\(\\) on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/ProtectStrings.php

		-
			message: "#^Cannot call method collectSiblings\\(\\) on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/ProtectStrings.php

		-
			message: "#^Parameter \\#2 \\$length of function str_split expects int\\<1, max\\>, int given\\.$#"
			count: 1
			path: src/Rule/SimplifyNumbers.php

		-
			message: "#^Cannot access property \\$StringClosedBy on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 3
			path: src/Rule/SimplifyStrings.php

		-
			message: "#^Cannot access property \\$id on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 7
			path: src/Rule/SimplifyStrings.php

		-
			message: "#^Cannot access property \\$text on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 3
			path: src/Rule/SimplifyStrings.php

		-
			message: "#^Cannot call method getTokenName\\(\\) on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/SimplifyStrings.php

		-
			message: "#^Cannot access property \\$CloseTag on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 4
			path: src/Rule/StandardWhitespace.php

		-
			message: "#^Cannot access property \\$ClosedBy on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/StandardWhitespace.php

		-
			message: "#^Cannot access property \\$NextCode on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/StandardWhitespace.php

		-
			message: "#^Cannot access property \\$NextSibling on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/StandardWhitespace.php

		-
			message: "#^Cannot access property \\$WhitespaceAfter on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 2
			path: src/Rule/StandardWhitespace.php

		-
			message: "#^Cannot access property \\$WhitespaceBefore on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/StandardWhitespace.php

		-
			message: "#^Cannot access property \\$WhitespaceMaskNext on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/StandardWhitespace.php

		-
			message: "#^Cannot access property \\$WhitespaceMaskPrev on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/StandardWhitespace.php

		-
			message: "#^Cannot access property \\$id on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 5
			path: src/Rule/StandardWhitespace.php

		-
			message: "#^Cannot access property \\$line on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/StandardWhitespace.php

		-
			message: "#^Cannot call method nextSiblingOf\\(\\) on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/StandardWhitespace.php

		-
			message: "#^Parameter \\#1 \\$start of method Lkrms\\\\PrettyPHP\\\\Rule\\\\StandardWhitespace\\:\\:preserveOneLine\\(\\) expects Lkrms\\\\PrettyPHP\\\\Token\\\\Token, Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null given\\.$#"
			count: 1
			path: src/Rule/StandardWhitespace.php

		-
			message: "#^Parameter \\#1 \\$string of function substr expects string, string\\|false given\\.$#"
			count: 1
			path: src/Rule/StandardWhitespace.php

		-
			message: "#^Parameter \\#1 \\$to of method Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\:\\:collect\\(\\) expects Lkrms\\\\PrettyPHP\\\\Token\\\\Token, Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null given\\.$#"
			count: 1
			path: src/Rule/StandardWhitespace.php

		-
			message: "#^Property Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\:\\:\\$TagIndent \\(int\\) does not accept float\\|int\\.$#"
			count: 2
			path: src/Rule/StandardWhitespace.php

		-
			message: "#^Property Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\:\\:\\$TagIndent \\(int\\) does not accept float\\|int\\<0, max\\>\\.$#"
			count: 1
			path: src/Rule/StandardWhitespace.php

		-
			message: "#^Cannot access property \\$WhitespaceMaskPrev on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/StatementSpacing.php

		-
			message: "#^Cannot access property \\$id on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 3
			path: src/Rule/StatementSpacing.php

		-
			message: "#^Cannot access property \\$ClosedBy on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/StrictExpressions.php

		-
			message: "#^Cannot access property \\$NextCode on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/StrictExpressions.php

		-
			message: "#^Cannot access property \\$PrevCode on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/StrictExpressions.php

		-
			message: "#^Cannot access property \\$WhitespaceAfter on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/StrictExpressions.php

		-
			message: "#^Cannot access property \\$WhitespaceBefore on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/StrictExpressions.php

		-
			message: "#^Cannot access property \\$WhitespaceMaskNext on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 2
			path: src/Rule/StrictExpressions.php

		-
			message: "#^Cannot access property \\$WhitespaceMaskPrev on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 2
			path: src/Rule/StrictExpressions.php

		-
			message: "#^Cannot call method collect\\(\\) on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/StrictExpressions.php

		-
			message: "#^Cannot call method hasNewlineAfter\\(\\) on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/StrictExpressions.php

		-
			message: "#^Cannot call method hasNewlineBefore\\(\\) on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Rule/StrictLists.php

		-
			message: "#^Cannot access property \\$CriticalWhitespaceMaskNext on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Support/TokenCollection.php

		-
			message: "#^Cannot access property \\$CriticalWhitespaceMaskPrev on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Support/TokenCollection.php

		-
			message: "#^Cannot access property \\$WhitespaceMaskNext on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Support/TokenCollection.php

		-
			message: "#^Cannot access property \\$WhitespaceMaskPrev on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Support/TokenCollection.php

		-
			message: "#^Cannot call method collect\\(\\) on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 2
			path: src/Support/TokenCollection.php

		-
			message: "#^Cannot access property \\$CloseTag on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Token/Token.php

		-
			message: "#^Cannot access property \\$EndStatement on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Token/Token.php

		-
			message: "#^Cannot access property \\$Index on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 6
			path: src/Token/Token.php

		-
			message: "#^Cannot access property \\$Next on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 4
			path: src/Token/Token.php

		-
			message: "#^Cannot access property \\$NextCode on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 2
			path: src/Token/Token.php

		-
			message: "#^Cannot access property \\$NextSibling on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 4
			path: src/Token/Token.php

		-
			message: "#^Cannot access property \\$OpenTag on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Token/Token.php

		-
			message: "#^Cannot access property \\$Prev on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 5
			path: src/Token/Token.php

		-
			message: "#^Cannot access property \\$PrevCode on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 4
			path: src/Token/Token.php

		-
			message: "#^Cannot access property \\$PrevSibling on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 3
			path: src/Token/Token.php

		-
			message: "#^Cannot access property \\$WhitespaceBefore on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Token/Token.php

		-
			message: "#^Cannot access property \\$WhitespaceMaskPrev on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Token/Token.php

		-
			message: "#^Cannot access property \\$id on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 7
			path: src/Token/Token.php

		-
			message: "#^Cannot call method _pragmaticStartOfExpression\\(\\) on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 4
			path: src/Token/Token.php

		-
			message: "#^Cannot call method collectSiblings\\(\\) on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 3
			path: src/Token/Token.php

		-
			message: "#^Cannot call method hasBlankLineBefore\\(\\) on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Token/Token.php

		-
			message: "#^Cannot call method hasNewline\\(\\) on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Token/Token.php

		-
			message: "#^Cannot call method hasNewlineAfter\\(\\) on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Token/Token.php

		-
			message: "#^Cannot call method hasNewlineBeforeNextCode\\(\\) on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Token/Token.php

		-
			message: "#^Cannot call method skipPrevSiblingsFrom\\(\\) on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Token/Token.php

		-
			message: "#^Cannot call method withTerminator\\(\\) on Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 2
			path: src/Token/Token.php

		-
			message: "#^Method Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\:\\:_pragmaticStartOfExpression\\(\\) should return Lkrms\\\\PrettyPHP\\\\Token\\\\Token but returns Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 1
			path: src/Token/Token.php

		-
			message: "#^Method Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\:\\:endOfOriginalLine\\(\\) should return Lkrms\\\\PrettyPHP\\\\Token\\\\Token but returns Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 3
			path: src/Token/Token.php

		-
			message: "#^Method Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\:\\:pragmaticEndOfExpression\\(\\) should return Lkrms\\\\PrettyPHP\\\\Token\\\\Token but returns Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 2
			path: src/Token/Token.php

		-
			message: "#^Method Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\:\\:startOfOriginalLine\\(\\) should return Lkrms\\\\PrettyPHP\\\\Token\\\\Token but returns Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null\\.$#"
			count: 3
			path: src/Token/Token.php

		-
			message: "#^Parameter \\#1 \\$to of method Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\:\\:collect\\(\\) expects Lkrms\\\\PrettyPHP\\\\Token\\\\Token, Lkrms\\\\PrettyPHP\\\\Token\\\\Token\\|null given\\.$#"
			count: 1
			path: src/Token/Token.php

		-
			message: "#^Cannot access offset 1 on mixed\\.$#"
			count: 1
			path: tests/unit/App/FormatPhpCommandTest.php

		-
			message: "#^Cannot access offset 2 on mixed\\.$#"
			count: 1
			path: tests/unit/App/FormatPhpCommandTest.php

		-
			message: "#^Method Lkrms\\\\PrettyPHP\\\\Tests\\\\App\\\\FormatPhpCommandTest\\:\\:configProvider\\(\\) should return array\\<string, array\\{string\\}\\> but returns array\\<string, array\\{array\\<string, mixed\\>\\|string\\}\\>\\.$#"
			count: 1
			path: tests/unit/App/FormatPhpCommandTest.php

		-
			message: "#^Parameter \\#1 \\$string of function substr expects string, mixed given\\.$#"
			count: 1
			path: tests/unit/App/FormatPhpCommandTest.php

		-
			message: "#^Parameter \\#3 \\$enable of method Lkrms\\\\PrettyPHP\\\\Tests\\\\TestCase\\:\\:assertCodeFormatIs\\(\\) expects array\\<class\\-string\\<Lkrms\\\\PrettyPHP\\\\Contract\\\\Extension\\>\\>, array\\<string\\> given\\.$#"
			count: 1
			path: tests/unit/Rule/StandardWhitespaceTest.php
